<%- include("header") %>
    <h1>Contact</h1>
    <div class="contact-main main-content">
    <ul>
        <li>Email me at <a href="mailto:cstefani.sites@gmail.com">cstefani.sites@gmail.com</a>.</li>
        <li>Add me on <a href="https://www.linkedin.com/in/clide-stefani-5772431a7/">LinkedIn</a>.</li>
        <li>Browse my <a href="//www.github.com/monkwire">Github</a>.</li>
        <!-- <li>Check out my <a href="../public/resume/clide_resume.pdf">resume</a>.</li> -->
    </ul>
    <img id='cat-stencil-img' src="../public/images/cat_stencil.png">
    </div>
    <script src="/public/scripts/nav_bar.js"></script>
    </body>
    </html>
