<%- include("header") %>
    <h1>Contact</h1>
    <p>I am interested in software developement positions. I am most familiar with front-end developement, though I would feel comfortable doing full-stack or back-end developement as well.</p>
    <p>I am an avid learner, and I enjoy learning new technologies. I feel most comfortable with the following tools: </p>
    <ul>
        <li>Linux (Arch, Ubuntu, Manjaro i3)</li>
        <li>Python3</li>
        <li>JavaScript</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>AWS</li>
        <li>Node.js</li>
        <li>Bootstrap</li>
    </ul>
    <p>Here is my <a href="https:github.com/monkwire">Github</a>.</p>
    <p>Here is my <a href="https:linkedin.com/in/clide-stefani-5772431a7/">LinkedIn</a>.</p>
    <p>You can reach me at cstefani.sites@gmail.com.</p>
    <script src="/public/scripts/nav_bar.js"></script>
    </body>
    </html>