<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cross-Words</title>
    <link rel="stylesheet" href="/public/styles/app.css">
    <link rel="stylesheet" href="/public/styles/cross_words.css">

</head>
<body>
    <%- include("./nav") %>
    <h1>Cross-words Game</h1>
    <div><p>This is a game I designed myself. The goal of the game is fill the 5x5 grid such that all columns (read top to bottom) display a valid English word. A correct solution should look like a filled in cross-word puzzle.</p>
    <p>The word bank below contains ten words, but you will only use five of them to complete the puzzle. Drag and drop words from the word bank onto the board horizontally. No word can be used multiple times. If you try to drag a word that already exists on the board, the game will simply move the existing word to its new place.</p>
    <p>While the number of words in the word bank is > 5, the hint button will remove a word that is not part of the solution. If there are only five words in the word bank, the hint button will correctly place a word.</p>
    <p>When the correct solution is found, the game will briefly flash.</p>
    <div id="rawPuzzle"><%= puzzle %></div>
    <div id="rawBank"><%= bank %></div>
    <div id="wordBank"></div>
    <div id="grid"></div>
    <div id="menus"><button id="reset">Reset</button><button id="hint">Hint</button><button id="solve">Solve</button><button><a href="/cross_words">New Puzzle</a></button></div>
    <div id="dragElements"></div>
    <script src="/public/scripts/cross_words.js"></script>
    <script src="/public/scripts/nav_bar.js"></script>
</body>
