<%- include("header") %>
    <h1><span>Clide Stefani:</span> <span>Software Engineer</span><span></h1>
    <div class="main-content">
    <img src="../public/images/site_stencil_hd.jpg" id="stencil-image">
    <div id="home-page-text-content">

    <p>Hello! I am a software engineer based in NYC. I am passionate about mechanically elegant board games, Wikipedia, and open-source software.</p>
    <p>Currently, I contribute to <a href="https://github.com/apache/arrow-rs">Apache arrow-rs</a> and the <a href=https://go.googlesource.com/go/>Go standard library</a>.</p>


    <p>
        <a href="mailto:cstefani.sites@gmail.com">cstefani.sites@gmail.com</a> |
        <a href="https://www.linkedin.com/in/clide-stefani-5772431a7/">LinkedIn</a> |
        <a href="//www.github.com/monkwire">Github</a> |
        <a href="https://go-review.googlesource.com/q/owner:cstefani.sites@gmail.com">Gerrit</a>
    </p>
    </div>
    </div>
<script src="/public/scripts/nav_bar.js"></script>
</body>

</html>
