<%- include("header") %>
    <h1><span>Clide Stefani:</span> <span>Software Engineer</span><span></h1>
    <div class="main-content">
    <img src="../public/images/site_stencil_hd.jpg" id="stencil-image">
    <div id="home-page-text-content">

    <p>Hi! My name is Clide and I am a software developer based in NYC. I graduated from the University of Texas with a B.A. in government. I am passionate about coding, writing, and open-source software.</p>
    <p>Some of my non-programming interests include puzzles, board games, and music.</p>
    <p>I made this site using Express, Node.js, ejs, HTML, CSS, and JS. All art on this site is my own. All code is publicly available at <a href="//www.github.com/monkwire3">github.com/Monkwire3</a>.</p>
    </div>
    </div>
<script src="/public/scripts/nav_bar.js"></script>
</body>

</html>
