<%- include("header") %>
    <h1><span>Clide Stefani:</span> <span>Full-Stack Developer</span><span>- <a href="../public/resume/clide_resume.pdf">Resume</a></h1>
    <div class="main-content">
    <img src="../public/images/site_stencil_hd.jpg" id="stencil-image">
    <div id="home-page-text-content">
    <p>I am a software developer based in NYC. I graduated from the University of Texas with a degree in government. In 2022, I completed a programming bootcamp where I learned to build full-stack web applications using React/Redux.</p>
    <p>My strongest languages are Javascript and Python, though I also have experience with C++, C, Go, and Ruby. I am comfortable using SQL and noSQL databases, as well as backend frameworks such as Rails and Express.</p>
    <p>Some of my non-programming interests include puzzles, board games, and music.</p>
    <p>I made this site using Express, Node.js, ejs, HTML, CSS, and JS. All art on this site is my own. All code is publicly available at <a href="//www.github.com/monkwire3">github.com/Monkwire3</a>.</p>
    </div>
    </div>
<script src="/public/scripts/nav_bar.js"></script>
</body>

</html>