<%- include("header") %>
    <h1>Clide Stefani: Full-stack Developer</h1>
    <div class="main-content">
    <img src="../public/images/site_stencil_hd.jpg" id="stencil-image">
    <div id="home-page-text-content">
    <p>I am a software developer based in NYC. I graduated from the University of Texas with a degree in government. As a student at UT Austin, I worked at the University Writing Center.</p>
    <p>I began learning to code my sophomore year, when I took an intrest in competitive programming. I competed in some of the TAMU programming competitions. At that time, I also began working with Linux (I've distro-hopped between Manjaro i3, Ubuntu, and Arch).</p>
    <p> My first and strongest programming language is Python3; this is the language I used for competitive programming. I am also comfortable writing programming in JS, and Ruby.</p>
    <p>I made this site using Express, Node.js, ejs, HTML, CSS, and JS. All code is publicly available at <a href="//www.github.com/monkwire">github.com/Monkwire</a>.</p>
    </div>
    </div>
<script src="/public/scripts/nav_bar.js"></script>
</body>

</html>