<%- include("header") %>
    <h1>Clide Stefani</h1>
    <h2>Full-stack developer</h2>
    <p>I am a 23 year old software developer from Austin Texas. I graduated from the University of Texas with a degree in government. During my time at UT Austin, I worked as a student researcher and as a writing tutor at the University Writing Center. While I enjoyed both roles, I've found that what I enjoy most is programming.</p>
    <p>I began learning to code during my softmore year when I took an intrest in competitive programming. At that time, I also began working with Linux (I've distro-hopped between Manjaro i3, Ubuntu, and Arch).</p>
    <p>My first and strongest programming language is Python3; this is the language I used for competitive programming. I am also comfortable writing web applications in JS. I have experience with C++, Golang, and C, however, I am far less comfortable writing in these languages.</p>
    <p>I made this site using Express, Node.js, ejs, HTML, CSS, and JS. All code is publicly available at <a href="https:github.com/monkwire">github.com/Monkwire</a>.</p>
<script src="/public/scripts/nav_bar.js"></script>
</body>

</html>