<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Letter-Boxed Solver</title>
    <link rel="stylesheet" href="/public/styles/app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/styles/letter_boxed.css">
</head>
<body>
    <%- include("./nav") %>
    <h2>Today's Letter Boxed:</h2>
    <div id="canvas-container">
    <canvas id="letter-box"></canvas>
    </div>
    <script src="/public/scripts/letter_boxed.js"></script>
    <script src="/public/scripts/nav_bar.js"></script>


</body>

</html>
