<%- include("header") %>
<h1>Music</h1>
<div class="main-content music-main">
<div>
<p>I like to arrange music for robots.</p>
<h2>Synth Journey (Sea Journey arrangement)</h2>
<audio controls>
    <source src="../public/music/Synth Journey.mp4" type="audio/mp4">
</audio>
<h2>Robot Metal</h2>
<audio controls>
    <source src="../public/music/robot_metal.mp4">
</audio>
<h2>Autumn Leaves for a robot quartet</h2>
<audio controls>
    <source src="../public/music/autumn_leaves.mp4">
</audio>
<h2>Electric Bossa (Blue Bossa arrangement)</h2>
<audio controls>
        <source src="../public/music/Blue_bossa.mp4">
</audio>
</div>
<img src="../public/images/minilogue_rotated.jpg" id="minilogue-img">
</div>

</body>
