<nav class="noselect">
    <ul>
        <li><a href="/"><div>Home</div></a></li>
        <li><a href="/projects"><div>Code</div></a>
            <!-- <ul class="dropMenu">
                <li class="dropItem"><a href="https://monkwire3.github.io/"><div>Killer Sudoku</div></a></li>
                <li class="dropItem"><a href="https://fauxdiscord.herokuapp.com/"><div>Discourse</div></a></li>
                <li class="dropItem"><a href="https://cubberd.herokuapp.com/"><div>Cubberd</div></a></li>

                <li class="dropItem"><a href="/wordle_solver"><div>Wordle Solver</div></a></li>
                <li class="dropItem"><a href="/sudoku"><div>Sudoku</div></a></li>
                <li class="dropItem"><a href="/cross_words"><div>Crossword Game</div></a></li>
                <li class="dropItem"><a href="/lights_out"><div>Lights Out</div></a></li>
            </ul> -->
        </li>
        <li><a href="/music"><div>Music</div></a></li>
        <!-- <li><a href="/contact"><div>Contact</div></a></li> -->
        <!--<li><a href="/writing"><div>Writing</div></a></li>
        <li><a href="/music"><div>Music</div></a></li></ul></li>-->
    </ul>
    </div>
</nav>
