<nav class="noselect">
    <ul>
        <li><a href="/"><a><div>Home</div></a></li>
        <li><a href="/projects"><div>Projects</div></a>
            <ul class="dropMenu">
                <li class="dropItem"><a href="/wordle_solver"><div>Wordle Solver</div></a></li>
                <li class="dropItem"><a href="/sudoku"><div>Sudoku</div></a></li>
                <li class="dropItem"><a href="/cross_words"><div>Crossword Game</div></a></li>
                <li><a href="/authority_tracker"><div>Authority Tracker</div></a></li>
            </ul>
        </li>
        <li><a href="/resume"><div>Resume</div></a></li>
        <!--<li><a href="/writing"><div>Writing</div></a></li>
        <li><a href="/music"><div>Music</div></a></li></ul></li>-->
    </ul>
    </div>
</nav>