<%- include("header") %>
    <h1>Resume</h1>
    <p>I am interested in software developement positions. I am most familiar with front-end developement, though I would feel comfortable doing full-stack or back-end developement as well. I am an avid learner and I have a strong work ethic. When I encounter a problem I haven't yet solved, I am resourceful and I can almost always teach myself to solve it. I am a strong collaborator and a strong independent worker.</p>
    <h2>Skills</h2>
            <h3>Programming Skills</h3>
            <ul>
                <li>
                    <p><b>Programming Languages</b>: Comfortable with Python3 and Javascript; some experience with C++ and Golang. Able to work with common CS data structures like linked lists and binary trees. Able to write well-documented and tested code. </p>
                </li>
                <li>
                    <p><b>Web Developement</b>: Able to fully build websites with JS, CSS, and HTML. Comfortable using frameworks, especially Node.JS. Able to style HTML with JS and advanced CSS techniques such as flex-box, grids, pseudo-classes, and media queries.</p>
                </li>
                <li>
                    <p><b>Linux</b>: Three years of experience with Linux systems. Strong Linux troubleshooting skills, including installing Linux OS's, and configuring programs without adequate support on Linux systems. Experienced with Arch Linux, Manjaro i3, and Ubuntu. </p>
                <li>
                    <p><b>Server Developement</b>: Able to write code fore Express Servers. Able to work with AWS Lightsail hosting.</p>
                </li>
            </ul>
            <h3>General Skills</h3>
            <ul>
                <p><li><b>Experienced writer and editor</b>: Former writing center tutror. Able to produce high-quality writing quickly. Able to write collaboratively. Able to follow detailed style guides.</li></p>
                <p><li><b>Communication Skills</b>: Able to clearly communicate my work to collegues in various settings.</li></p>
                <p><li><b>Research Skills</b>: Able to work with research tools such as Zotero. Able to quickly read and summarize documents. Able to work independently.</li></p>

            </ul>
    <script src="/public/scripts/nav_bar.js"></script>
    </body>

    </html>