<%- include("header") %>
    <h1>Resume</h1>
    <h2>Skills</h2>
    <div>
        <div>
            <h3>Programming Skills</h3>
            <div class="skill">
                <div>
                    <h4>Languages</h4>
                    <p>Comfortable with OOP programing languages, especially Python3 and Javascript. Familiar with
                        Golang
                        and C++.</p>
                </div>
                <div>
                    <h4>DOM Manipulation</h4>
                    <p>Comfortable with the DOM. Able to style HTML with JS and advanced CSS techniques such as
                        flex-boxes,
                        grids, pseudo-classes, and media queries.</p>
                </div>
                <div>
                    <h4>Linux</h4>
                    <p>Three years of experience with Linux systems. Strong Linux troubleshooting skills, including
                        installing Linux OS's, and configuring programs without adequate support on Linux systems.
                        Experienced with Arch Linux, Manjaro i3, and Ubuntu.</p>
                </div>
                <div>
                    <h4>Experienced with Express Servers</h4>
                    <p>This site was developed with Node.js, Express, and EJS.</p>
                </div>
            </div>
        </div>
        </div>
        <script src="/public/scripts/nav_bar.js"></script>
        </body>

        </html>
