<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sudoku</title>
    <link rel="stylesheet" href="/public/styles/app.css">
    <link rel="stylesheet" href="/public/styles/sudoku.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&display=swap" rel="stylesheet"> 
</head>
<body>
    <%- include("./nav") %>
    <h1>Sudoku</h1> 
    <div id="rawPuzzle"><%= puzzle %></div>
    <span tabindex="0" id="prevent-outside-tab"></span>
    <div id="board"></div>
    <div id="numberButtons"></div>

    <span tabindex="0" onfocus="focusFirstElement()"></span>
    <script>
        function focusFirstElement() {
          document.querySelector("#prevent-outside-tab").focus();
        }
    </script>

    <div id="menus"><button id="resetButton">Reset</button><button><a href="/sudoku">New Random Hard Puzzle</a></button></div>

    <script src="/public/scripts/nav_bar.js"></script> <script src="/public/scripts/sudoku.js"></script>


</body>
</html>