<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wordle Solver</title>
    <link rel="stylesheet" href="/public/styles/app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@800&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/public/styles/wordle_solver.css">
</head>
<body>
    <%- include("./nav") %>
    <h1>Wordle Solver</h1>
    <div><p>The wordle solver returns a list of viable words given a valid Wordle board. To begin, fill in the board below such that it looks like your current Wordle game. To color a cell in, select the cell, you would like to color, then click on the desired color swab from the palette on the right. Press the "Get Words" button or the Enter key to submit. To clear the board, either delete letters manually using the keyboard or press "Clear Grid." You can use the arror keys or your mouse to navigate the board.</p>
    </div>

    <div id="boardContainer">
    <div id="board"></div>
    <div id="palette"></div> 
    </div>
    <div id="menus"><button id="clear">Clear Grid</button><button id="getWordsButton">Get Words</button></div>
   <div id="commonWordBox">Common words will appear here.</div>
    <div id="wordBox">All words will appear here.</div>
    <script src="/public/scripts/wordle_solver.js"></script>
    <script src="/public/scripts/nav_bar.js"></script>
</body>
</html>