body {
    background-color: #424b54;
    font-family: "Ubuntu", sans-serif;
    color: #fff8e5;
    max-width: 1000px;
    margin: auto;
    padding: 1rem;
}

ul {
    list-style: none;
    z-index: 1;
}
a {
    color: #8FB8DE;
}
nav {
    all: initial;
    display: flex;
    justify-content: right;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #24292d;
    color: #8FB8DE;
    font-size: 1em;
    font-family: fredoka, sans-serif;
    border: none;
    margin: none;
    margin-left: none;
}

nav span a {
    text-decoration: none;
}

nav span a:hover {
    font-weight: 600;
}

a {
    text-decoration: none;
}

nav ul, nav ul li ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

nav ul li, nav ul li ul li {
    display: block;
    float: left;
    padding: 0rem;
    position: relative;
    text-decoration: none;
    box-sizing: border-box;
    width: 6.75em;
}





nav ul li:hover, nav ul li ul li:hover {
    cursor: pointer;
    background-color: #2D3439;;
}

nav ul li ul {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    position: absolute;
    margin-top: 0rem;
    left: 0;
    display: none;
    background-color: #24292d;
}

nav ul li:hover > ul {
visibility: visible;
opacity: 1;
display: block;
}

nav ul li ul li {
clear: both;
width: 100%;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a div {
    padding: 0.75rem;
}

nav ul li a div {
    border: none;
    display: default;
    margin: default;
    background-color: inherit;
    margin-bottom: 0;

}


img {
    display: inline-block;
    height: 400px;
    width: auto;
}


.main-content {
    display: flex;
    flex-direction: row;
}

.contact-main, .music-main {
    justify-content: space-between;
}

.music-main {
    align-items: center;
}


#home-page-text-content {
    display: flex;
    flex-direction: column;
}

#minilogue-img {
    height: 500px;
    width: auto;
}


h1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h1 span {
    margin-right: 5px;
}

audio {
    border-radius: 5px;
    color: #24292d;
}


audio::-webkit-media-controls-volume-slider-container {
    color: red;
    background-color: red;
}

audio::-webkit-media-controls-panel {

    background-color: #a0276e;
  
    color: #a0276e;
  
  }




@media screen and (max-width: 730px) {
    .main-content {
        flex-direction: column;
    }

    #stencil-image {
        width: 100px;
        margin: auto;
        height: auto;
    }

    #cat-stencil-img {
        width: 200px;
        margin: auto;
        height: auto;
    }

    #minilogue-img {
        width: 300px;
        height: auto;
        margin-top: 30px;
    }

    
    
}