body {
    background-color: #333533;
}
p {
    color: #cfdbd5;
    max-width: 1000px;
    text-align: justify;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
}
h1 {
    color: #f5cb5c;
}
.cell {
    border: 0.5mm solid #333333;
    background-color: #242423;
    color: rgb(68, 68, 68);
    box-sizing: border-box;
    font-size: 45px;
    user-select: none;
    color: #f5cb5c;
    display: flex;
    justify-content: center;
    align-items: center;

}

#puzzleGrid {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(5, 60px);
    grid-template-rows: repeat(5, 60px);
    margin: auto;
    margin-top: 10px;
    width: 300px;
    height: 300px;
}

#wordBank, #menus {
    color: #f5cb5c;
    background-color: #242423;
    border-radius: 4px;
    margin: auto;
    margin-bottom: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 900px;

}

#menus {
    justify-content: space-around;
    width: 300px;
    margin: auto;
    margin-top: 10px;
}
button {
    background-color: #333533;
    color: #f5cb5c;
    border: none;
    margin-left: 5px;
    margin-right: 5px;
}

button a {
    color: inherit;
}

button:hover {
    cursor: pointer;
}
.selectableWord {
    color: #f5cb5c;
    font-weight: 700;
    user-select: none;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.selected {
    background-color: darkslateblue(255, 250, 205, 0.295);
}

.victory {
    color: #333333;
    background-color: #f5cb5c;
}

@media screen and (min-width: 1000px) {
    h1 {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

.dragWord {
    color: #f5cb5c;
    display: none;

}