:root {
    --bg-color: #5C6B73;
    --color1: #253237;
    --color2: #9DB4C0;
    --color3: #C2DFE3;
    --color4: #E0FBFC;
}

body {
    background-color: var(--bg-color);
}

#board {
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.row {
    display: flex;
    width: 100%;
    border: none;
}

.pencilContainer {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns:repeat(3, auto) ;
    grid-template-rows: repeat(3, auto); 
    font-size: xx-small;
    padding: 0px;
    height: 100%;
    width: 100%;
    margin: 0px;

}

.pencilCell {
    font-size: xx-small;
    width: 33.3333%;
    height: 33.3333%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    user-select: none;
}

.cell {
    background-color: var(--color3);
    color: var(--color1);
    border: 1px solid  var(--bg-color);
    height: 50px;
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
}

.cell:hover {
    cursor: pointer;
    background-color: var(--color2);

}

.cell:nth-child(1) {
    border-left: 3px solid var(var(--bg-color));
}

.cell:nth-child(3n) {
    border-right: 3px solid var(--bg-color);
}
.row:nth-child(3n) {
    border-bottom: 2px solid var(--bg-color);
}

.row:nth-child(1){
    border-top: 2px solid var(--bg-color);
}

.matching {
    font-weight: bolder;
}

.locked {
    color: var(--color1);
}

.selected {
    background-color: var(--color2);
}

.incorrect {
    color: #F49E4C;
}

.victory {
    background-color: #17B890;
    color: #DEE5E5;
}

#menus {
    margin: auto;
    width: 500px;
    display: flex;
    background-color: #082D0F;
    justify-content: space-evenly;
    border-radius: 2px;
    margin-bottom: 6px;
}

button {
    border-style: none;
    color: #DEE5E5;
    background-color: #17B890;
    margin: 3px;
}

button:hover {
    cursor: pointer;
    background-color: #9DC5BB;
}

a {
    text-decoration: none;
    color: inherit;
}

#numberButtons, #pencilToggle {
    display: none;
}

@media screen and (max-width: 520px) {
    h1 {
    margin-left: 3vw;
    }
    body {
        margin: auto;
    }
    #board {
        width: 95vw;
        height: 95vw;
    }
    .cell {
        font-size: 6vw;
        width: 10vw;
        height: 10vw;
    }

    #menus {
        border-radius: 0px;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        align-self: center;
    }

    #numberButtons, #pencilToggle {
        display: flex;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        background-color: #082D0F;
        color: #17B890;
        justify-content: space-evenly;
        height: 5vw;
        padding: 4px;
        align-items: center;
    }

    .numButton {
       padding: 1px; 
       font-size: 5vw;
    }
}