body {
    background-color: #5E807F;
}

#board {
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.row {
    display: flex;
    width: 100%;
    border: none;
}

.pencilContainer {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns:repeat(3, auto) ;
    grid-template-rows: repeat(3, auto); 
    font-size: xx-small;
    padding: 0px;
    height: 100%;
    width: 100%;
    margin: 0px;

}

.pencilCell {
    font-size: xx-small;
    width: 33.3333%;
    height: 33.3333%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    user-select: none;
}

.cell {
    background-color: #DEE5E5;
    color: #17B890;
    border: 1px solid  #5E807F;
    height: 50px;
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
}

.cell:hover {
    cursor: pointer;
    background-color: #9DC5BB;

}

.cell:nth-child(1) {
    border-left: 3px solid #5E807F;
}

.cell:nth-child(3n) {
    border-right: 3px solid #5E807F;
}
.row:nth-child(3n) {
    border-bottom: 2px solid #5E807F;
}

.row:nth-child(1){
    border-top: 2px solid 5E807F;
}

.matching {
    font-weight: bolder;
}

.locked {
    color: #082D0F;
}

.selected {
    background-color: #9DC5BB;
}

.incorrect {
    color: #F49E4C;
}

.victory {
    background-color: #17B890;
    color: #DEE5E5;
}