body {
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
    background-color: #121213;
    color: #fff;
}

h1 {
    font-family: 'Bitter', serif;
    font-weight: 800;
    text-align: center;
}

p {
    padding: 1rem;
    padding-left: 1px;
    text-justify: left;
    text-align: justify;
}


div {
    margin-bottom: 1rem;
}

button:hover {
    background-color: #565758;
    cursor: pointer;
}

button {
    background-color: #d8d8d8;
    height: 1.5rem;
    width: auto;
    border-style: hidden;
    margin-right: 0.75rem;
}

button:hover {
    background-color: #939598;
}

#menus {
    display: flex;
    justify-content: flex-start;
}


#wordBox, #commonWordBox {
    background-color: #3a3a3c;
    color: #d8d8d8d8;
    display: flex;
    height: auto;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0.5rem;
    margin: 1rem;
    margin-left: 0px;

}

.displayWord {
    margin: 3px;
    font-weight: 700;
    padding-left: 4px;
    padding-right: 4px;
    font-weight: 400;
}

.common {
    background-color: #538d4e;
    color: #fff;
}

.word {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}

.cell, .swab {
    width: 62px;
    height: 62px;
    border: 2px solid #3a3a3c;
    margin: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 24px;
}

.cell:hover {
    border-color: #fff;
    cursor: pointer;
}

.selected {
    border-color: #f5793a;
}

#board {
    width: 350px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
}

#palette {
    height: 288px;
    width: 72px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    margin: none;
    align-content: space-evenly;
}

.swab:hover {
    border: 0.5mm solid #fff;
    cursor: pointer;
}


.swabGreen {
    background-color: #6aaa64;
}

.swabYellow {
    background-color: #b59f3b;
}

.swabGrey {
    background-color: #3a3a3c;
}

.swabBlack {
    background-color: #121213;
}

#boardContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
